
body {
  margin: 0px;
}

.footer {
  height: 150px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
}

.title {
  font-weight: bold;
  font-size: 12px;
  padding-top: 0.5rem;
}

.info {
  font-size: 10px;
}
#three .info:last-of-type {
  padding-top: 5rem;
}

.item {
  padding: 10px;
  width: 150px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
}
